{% extends 'base.html' %}

{% block title %}Doctor's Profile{% endblock title %}

{% block body %}
{% comment %} 

{% for doctor in doctors %}
    <h2>{{ doctor.doctor_name }}</h2>
    <p>{{ doctor.location }}</p>
    <!-- etc. -->
{% endfor %} {% endcomment %}

<div class="container mt-1">
    <h2>Ophthalmologists List</h2>
    <div class="row">
        {% for doctor in doctors %}
       
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 20rem;">
                <img src="../static/img/emdoc1.svg" class="card-img-top" alt="Emergency doctor">
                <div class="card-body">
                    <h5 class="card-title">Name: {{doctor.doctor_name}}</h5>
                    <h6>Department: {{doctor.department}}</h6>
                    <h6>Location: {{doctor.location}}</h6>
                    <a href="#" class="btn btn-outline-primary">See more</a>
                </div>
            </div>
        </div>
        {% endfor %}
 
    </div>
</div>

{% comment %} <div class="container mt-1">
    <h2>Psychiatry_doctors List</h2>
    <div class="row">
        {% for doctor in Psychiatry_doctors %}
       
        <div class="col-sm-3">
            <div class="card mb-3" style="width: 20rem;">
                <img src="../static/img/emdoc1.svg" class="card-img-top" alt="Emergency doctor">
                <div class="card-body">
                    <h5 class="card-title">Name: {{doctor.doctor_name}}</h5>
                    <h6>Department: {{doctor.department}}</h6>
                    <h6>Location: {{doctor.location}}</h6>
                    <a href="#" class="btn btn-outline-primary">See more</a>
                </div>
            </div>
        </div>

        
        {% endfor %}
 
    </div>
</div> {% endcomment %}



{% comment %} <h2>Psychiatry_doctors List</h2> {% endcomment %}
<!-- {% for doctor in Psychiatry_doctors %}
    <h2>{{ doctor.doctor_name }}</h2>
    <p>{{ doctor.location }}</p>
   
{% endfor %} -->

{% endblock body %}